<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quick Borrow-Admin Pannel</title>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <h4>Admin Panel</h4>
    <a href="#" class="active">Dashboard</a>
    <a th:href="@{/admin/books}">Books</a>
    <a th:href="@{/admin/members}">Members</a>
    <a th:href="@{/admin/issue}">Issue Books</a>
    <a th:href="@{/admin/return}">Return Books</a>
  </div>

  <!-- Main content -->
  <div class="main">

    <!-- Top Navbar -->
    <div class="topnav">
      <h2>Quick Borrow</h2>
      <div class="nav-links">
        <a href="#">Admin</a>
        <a th:href="@{/logout}">Logout</a>
      </div>
    </div>

    <!-- Dashboard Stats -->
	<div class="dashboard">
	  <div class="card card-primary">
	    <h3>Total Books</h3>
	    <p style="font-size: 24px;" th:text="${totalBooks!=null? totalBooks :0}"class="stat-number">0</p>
	  </div>
	  <div class="card card-success">
	    <h3>Total Members</h3>
	    <p style="font-size: 24px;" th:text="${totalMembers!=null? totalMembers :0}"class="stat-number">0</p>
	  </div>
	  <div class="card card-warning">
	    <h3>Books Issued</h3>
	    <p style="font-size: 24px;" th:text="${booksIssued != null ? booksIssued : 0}"class="stat-number">0</p>
	  </div>
	  
	  <div class="card card-danger">
	    <h3>Overdue Returns</h3>
	    <p style="font-size: 24px;" th:text="${overdueReturns != null ? overdueReturns : 0}"class="stat-number">0</p>
	  </div>
	</div>


    <!-- Activity
    <div class="activity">
      <h3>Recent Activity</h3>
      <p th:if="${recentActivityList == null or #lists.isEmpty(recentActivityList)}">No recent activity to show.</p>
      <ul th:if="${recentActivityList != null}">
        <li th:each="activity : ${recentActivityList}" th:text="${activity}"></li>
      </ul>
    </div>
	-->
  </div>
</body>

</html>